details {
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background: #f9f9f9;
    width: 90%;
  }

  details:first-child {
    margin-top: 10rem;
  }

  summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: black;
  }

  summary:hover {
    color: #007BFF;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    margin-top: 16px;
  }

  .gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .gallery img:hover {
    transform: scale(1.05);
  }

  /* Lightbox */
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }

  .lightbox.active {
    opacity: 1;
    visibility: visible;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  .lightbox .close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .lightbox .close:hover {
    color: red;
  }